<!-- src/main/resources/templates/template.html -->
<style>
    #bgss_table{
        font-family: serif;
    }
</style>
<table id="bgss_table" width='100%' border='0' cellspacing='0' cellpadding='0' style='max-width: 600px; margin: auto;'>
    <tr>
        <td style='background: #ebe4db; padding: 10px; text-align: center;'>
            <img src='https://i.imgur.com/2D7Wl5h.png' alt='BGSS Company Logo' style='height: 50px;'>
        </td>
    </tr>
    <tr>
        <td style='background: #fbf6f0; padding: 20px;'>
            <h1 style='font-size: 22px; color: #000;'>OTP to Verify</h1>
            <p style='color: #555555;'>Thank you for purchasing with BGSS Company! Please enter the following verification OTP to complete your process.</p>
            <h2 style='background: #198754; color: #ffffff; padding: 10px; display: inline-block;'>${OTP}</h2>
            <p style='color: #555555;'>Please do not share this OTP with anyone to ensure the security of your transaction.</p>
        </td>
    </tr>
    <tr>
        <td style='background: #ebe4db; text-align: center; padding: 10px; color: #000;'>
            Thank you for joining our community!
        </td>
    </tr>
</table>