<!-- src/main/resources/templates/emailVerification.html -->
<style>
    #bgss_table{
        font-family: serif;
    }
</style>
<table id="bgss_table" width='100%' border='0' cellspacing='0' cellpadding='0' style='max-width: 600px; margin: auto;'>
    <tr>
        <td style='background: #ebe4db; padding: 10px; text-align: center;'>
            <img src='https://i.imgur.com/2D7Wl5h.png' alt='Company Logo' style='height: 50px;'>
        </td>
    </tr>
    <tr>
        <td style='background: #fbf6f0; padding: 20px;'>
            <h1 style='font-size: 22px; color: #000;'>Verify Your Email Address</h1>
            <p style='color: #555555;'>Thank you for signing up with BGSS Company! Please confirm that your email is correct to complete your registration.</p>
            <a href='${confirmationUrl}' style='background: #fb8500; color: #ffffff; padding: 10px 20px; text-decoration: none; border-radius: 5px; display: inline-block; margin-top: 20px;'>Confirm Email</a>
        </td>
    </tr>
    <tr>
        <td style='background: #ebe4db; text-align: center; padding: 10px; color: #000;'>
            Thank you for joining our community!
        </td>
    </tr>
</table>